@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
	background-image: url(attempt3.gif);
	background-size: cover;
    background-color: #303030;
	color: #d0d0d0;
	background-attachment: fixed;
	-moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
	font-size: 1vmax;
	font-size: 2.1vmin;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
font-family: Oswald;
  line-height: 1;
}
#cssmenu > ul {
  background: #2d791b;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  background: #2d791b;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
  color: #dff2fa;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #2d791b;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #dff2fa;
  background: #3e902c;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #2d791b;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #2d791b;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #2d791b;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}

#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #dff2fa;
}
h1 {
padding-left: 10%;
padding-right: 10%;
font-family: Oswald;
font-size: 300%;
text-shadow: 4px 4px 6px #000000;
}
p {
padding-left: 10%;
padding-right: 10%;
font-family: Oswald;
font-size: 120%;
text-shadow: 3px 3px 5px #000000;
}
hr {
    display: block;
    height: 30px;
    border-top: 40px solid #decb23;
    margin: 1em 0;
    padding: 0;
	border: 4px solid #FFE436 ;
	border-radius: 10px ;
    border-top-left-radius: 20px ; 
    border-top-right-radius: 20px ; 
    border-bottom-left-radius: 20px ; 
    border-bottom-right-radius: 20px ; 
	border-radius: 20px ;
	box-shadow: 2px 2px 4px 1px #111111;
    max-width: 100%;
}
a:link {
	color: #d0d0d0;
	text-decoration: none;
	font-family: Oswald;
	text-shadow: 3px 3px 5px #000000;
}
a:visited {
	color: #d0d0d0;
	text-decoration: none;
	font-family: Oswald;
	text-shadow: 3px 3px 5px #000000;
}
h3 {
padding-top: 13px;
font-family: Oswald;
font-size: 100%;
color:#ffffff;
text-shadow: 3px 3px 5px #000000;
}
img {
    height: auto;
    max-width: 100%;
box-shadow: 8px 8px 6px #111111;
}
.myButton {
	-moz-box-shadow:inset 0px 18px 11px -6px #418736;
	-webkit-box-shadow:inset 0px 18px 11px -6px #418736;
	box-shadow:inset 0px 18px 11px -6px #418736;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2c791b), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #2c791b 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #2c791b 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #2c791b 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #2c791b 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #2c791b 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c791b', endColorstr='#68a54b',GradientType=0);
	background-color:#2c791b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:3px solid #2c791b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Oswald;
	font-weight:bold;
	padding:3px 3px;
	text-decoration:none;
	box-shadow: 5px 5px 3px #000000;
	    height: auto;
    max-width: 100%;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #2c791b));
	background:-moz-linear-gradient(top, #68a54b 5%, #2c791b 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #2c791b 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #2c791b 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #2c791b 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #2c791b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#2c791b',GradientType=0);
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}
address {
text-shadow: 3px 3px 5px #000000;
font-family: Oswald;
}
.zsFormClass {
box-shadow: 0px 0px 2px 5px #111111;
background:rgba(239,239,239,0.5);
font-family: Oswald;
    height: auto;
    max-width: 100%;
}
.zsMaxSizeMessage {
text-shadow: 3px 3px 3px #ffffff;
color: #000000;
font-family: Oswald;
font-size: 7px;
}
.zsFontClass {
text-shadow: 3px 3px 5px #000000;
color: #d0d0d0;
font-family: Oswald;
}
.zsFontClass2 {
text-shadow: 3px 3px 5px #111111;
color: #111111;
font-family: Oswald;
}